<!DOCTYPE html>
<html>
<head>
  <title><%= @sys_conf.name %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!-- Font Awesome JS -->
  <%= stylesheet_link_tag "/css/all.min" %>
  <%= javascript_include_tag "/js/all.min" %>
</head>
<style>
  #content {
    background-color: #EEEEEE !important;
  }
</style>
<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <h3><%= @sys_conf.name %></h3>
        <strong><%= @sys_conf.initials %></strong>
      </div>

      <ul class="list-unstyled components">
        <li class="active">
          <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-home"></i>
            Início
          </a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
              <a href="#">Home 1</a>
            </li>
            <li>
              <a href="#">Home 2</a>
            </li>
            <li>
              <a href="#">Home 3</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-briefcase"></i>
            About
          </a>
          <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-users"></i>
            Membros
          </a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
              <a href=<%= url_for list_admins_path %>>Listar</a>
            </li>
            <li>
              <a href=<%= url_for create_new_admin_path%>>Novo Membro</a>
            </li>
            <li>
              <a href='#'<%# url_for delete_admin_path%>>Remover Membro</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-image"></i>
            Portfolio
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-question"></i>
            FAQ
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-paper-plane"></i>
            Contact
          </a>
        </li>
      </ul>
      <% if false %>
      <ul class="list-unstyled CTAs">
        <li>
          <a href="#" class="download">Download source</a>
        </li>
        <li>
          <a href="#" class="article">Back to article</a>
        </li>
      </ul>
      <% end %>
    </nav>

    <!-- Page Content  -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Modificar Menu</span>
          </button>
          <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Page</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <%= yield %>
      
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
</body>
</html>
